<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>807622500022-0gvlb27i3u72jnl49b3d55ival6bb9cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.807622500022-0gvlb27i3u72jnl49b3d55ival6bb9cv</string>
	<key>API_KEY</key>
	<string>AIzaSyAWKtcz2lL6_mqTsGGz8p44IHP8Axx0kQA</string>
	<key>GCM_SENDER_ID</key>
	<string>807622500022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>debsen17xxx-icloud.com.macchingApp</string>
	<key>PROJECT_ID</key>
	<string>macchingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>macchingapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:807622500022:ios:56477b30330b53c73d1017</string>
	<key>DATABASE_URL</key>
	<string>https://macchingapp.firebaseio.com</string>
</dict>
</plist>